form.config {
  display: table;
}

div.config-entry {
  display: table-row;
}

div.config-entry * {
  display: table-cell;
  margin-bottom: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

span.config-err {
  color: red;
}
